p {
  font-size: 16;
}

bg {
  /* The image used */
  /* Full height */
  margin-top: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 80%;
}

/* html,
body {
    height: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
} */
